---
---
@charset "utf-8";

@use "sass:math";
@use "sass:string";

@use "variables" with (
  $max-content-width: {{ site.max_width | default: "930px" }}
);

@use "themes";
@use "layout";

@use "typography";
@use "navbar";
@use "footer";
@use "blog";
@use "publications";
@use "components";
@use "utilities";

@use "tabs";
@use "teachings";
@use "typograms";

/* Custom accent colors */

:root {
  --global-theme-color: #002147;
  --global-hover-color: #00142b;
}

html[data-theme="dark"] {
  --global-theme-color: #4f79a7;
  --global-hover-color: #6b91ba;
}
